a {
  align-items: center;
  color: white;
  text-decoration: none;
  display: block
}

mat-toolbar {
  display: block;
}

div, ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background: none;
}

li {
  margin: 0 auto;
  width: 15vw
}
