<mat-toolbar color="primary">
  <div>
    <ul class="h-menu">
      <li><h4>
        <a routerLink="popular-movies" style="color: white;  text-decoration: none; display: block" (click)="setChoiceP()">POPULAR<br>MOVIES</a>
      </h4>
      </li>
      <li><h4>
        <a routerLink="discover-movies" style="color: white;  text-decoration: none; display: block" (click)="setChoiceD()">DISCOVER<br>MOVIES</a>
      </h4>
      </li>
      <li><h4>
        <a routerLink="" style="color: white;  text-decoration: none; display: block">User</a>
      </h4>
      </li>
    </ul>
  </div>

</mat-toolbar>

