.app-wrap {
  text-align: center;
  margin: auto 50px;
  padding: 20px;
  display: block;
  border: #79919a 10px ridge;
  //background-color: mediumpurple;
  background-image: url(./logoTMDB.svg);
  //mix-blend-mode: luminosity;
}
