<button class="dropdown-toggle bg-transparent"><img src="../../assets/language-solid.png" alt="logo" style="max-width: 35px"/> Language
</button>

<ul class="d-menu" data-role="dropdown">
        <li><a routerLink=""  (click)="setLEn()">English<img src="../../assets/united-kingdom.svg" alt="logo"/>
        </a></li>
        <li class="divider bg-lightGray"></li>
        <li><a routerLink=""  (click)="setLUa()">Українська<img src="../../assets/ukraine.svg" alt="logo"/>
        </a></li>
        <li class="divider bg-lightGray"></li>
        <li><a routerLink="" (click)="setLRu()">Руский<img src="../../assets/russia.svg" alt="logo"/>
        </a></li>
      </ul>
